{% extends "base.html" %}
{% load rightpanel %}
{% load static %}
{% block middlepanel %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    </ol>
</nav>

<div class="middleLoad col-10">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<table id="fileFolder" class="table text-muted">
    <thead>
    <tr class="bg-light">
        <th scope="col-sm-2">Name</th>
        <th scope="col-sm-3">Last Modified</th>
        <th scope="col-sm-3">Size</th>
        <th scope="col-sm-3"></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div style="width: 100%; overflow: hidden;">
    <div id="pagetext" style="width: 10px; margin-top:5px; float: left;"><div class="font-weight-light">Page</div>
 </div>
    <div style="margin-left: 50px;"> <div id="page-selection"></div></div>
</div>

{% endblock %}
{% block rightpanel %}
{% rightpanel_render %}
{% endblock %}
