<!-- Metadata -->
<div id="metadata">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class="bg-light container">
        <h5 class="navbar-brand">MetaData</h5>
    </div>
    <div>
        <div class="list-group-item "><p class="w-100 pathLink"></p></div>
        <div class="list-group-item ">
            <p class="mb-2">Genome and Version</p>
            <div class="dropdown dropright mb-2">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonSp" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Species...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSp">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="dropdown dropright">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonVn" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Version...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonVn">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="list-group-item ">
            <p class="mb-2">IGB Track Color</p>
            <p>Foreground:</p>
            <p>Background:</p>
            <button class="btn btn-danger w-25">Cancel</button>
            <button class="btn btn-primary w-25" onclick="complete()">Save</button>
        </div>
    </div>
</div>
