{% load static %}
body{
    position:relative;
}
.content {
    overflow: hidden;
}

.left,.right,.middle {
    float: left;
}
.right {
    display: none;
    transition: 0.2s;
    overflow: auto;
}
.middle {
    border: solid #eee;
    height: 92vh;
}
.opentab {
    display: block;
}
.closetab {
    display: none;
}
table{
	overflow:auto;
	table-layout: fixed;

}
tr {
    cursor: pointer;
}
tr:hover{
	background:#eef;
}
td  {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer {
    height: 100px;
    background-color: #aaa;
}
.cbtn {
    height: 15px;
}
.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}
.active {
    background: #eef;
}
#context-menu {
    position: absolute;
}
.middleLoad{
    position:fixed;
    padding-top:15%;
    display:block;
    height:100%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
.rightLoad{
    position:fixed;
    padding-top:15%;
    display:block;
    height:90%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
}
